.element {
    width: 200px;
    height: 100px;
    margin-right: 50px;
    display: inline-block;
}

.ensimmäinen-div {
    background-color: red;
}

.toinen-div {
    background-color: yellow;
}

.kolmas-div {
    background-color: green;
}